@font-face {
  font-family: "Red Hat Text";
  src: url("/src/assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/src/assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/src/assets/fonts/static/RedHatText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: "Red Hat Text", sans-serif;
}
